*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
main{
       background-color: #F5F8FF;
}
/* -----common style---- */
.container{
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.raleway{
    font-family: "Raleway", sans-serif;
}

.inter{
    font-family: "Inter", sans-serif;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #4E47FF;
}
.btn:hover{
background-color:rgb(210, 74, 199) ;
}
.primary-color{
    color: #4E47FF;
}
.secondary-color{
    color: #252432;
}
.para-color{
    color: #25243280;
}

/* ------nav---- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-weight: 900;
    font-size: 34px;
}

/* -------banner---- */
header{
    background-image:rgba(78, 71, 255, 0.01) url("Assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    text-align: center;
}
.banner h1{
 font-size: 65px;
 font-weight: 700;
}
.banner button{
    margin-top: 20px;
}


/* -------action part---- */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.text-part{
     line-height: 60px;
}
.text-part h1{
 font-weight: 700;
 font-size: 42px;
}
.text-part p{
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
}
.img img{
    border-radius: 20px;
}

/* -------users-part- */
.productive-users{
   background-color: #4E47FF1A;
   border-radius: 15px;
   padding: 50px;
   width: 85%;
}
.productive-users h1{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
.users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.users h1{
    font-size: 70px;
    font-weight: 700;
    color: #4E47FF;
}
.users p{
    color: #00000080;
    text-align: center;
}


/* ----rating-part--- */
.rating{
  margin-top: 10px;
  line-height: 40px;
}
.rating h1{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
.designers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.rate{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.loved h3{
  font-weight: 600;
  font-size: 24px;
}
.loved p{
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
}
.avatar{
    display: flex;
    align-items: center;
    gap: 15px;
}
.avatar img{
    border-radius: 20px;
}
.avatar p{
   color: #757575;
   line-height: normal;
}

/* ---focus-part--- */
.focus{
margin-top: 20px;
padding: 71px;
border-radius: 14px;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.focus-text{
    text-align: center;
    line-height: 50px;
}
.focus h1{
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}
.focus p{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.focus-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.focus-img img{
    border-radius: 48px;
}

 /* ------form-part----- */





