*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: #F5F8FF;
}
section{
    margin-top: 90px;
}
/* -----common style---- */
.container{
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}
.raleway{
    font-family: "Raleway", sans-serif;
}

.inter{
    font-family: "Inter", sans-serif;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    color: #F5F8FF;
    border: none;
    background-color: #4E47FF;
}
.btn:hover{
background-color:rgb(210, 74, 199) ;
}
.primary-color{
    color: #4E47FF;
}
.secondary-color{
    color: #252432;
}
.para-color{
    color: #25243280;
}
.text-color{
   color: #000000;
}
/* ------nav---- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-weight: 900;
    font-size: 34px;
}

/* -------banner---- */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
.banner{
    text-align: center;
    margin-top: 100px;
    width: 60%;
}
.banner h1{
 font-size: 55px;
 font-weight: 700;
}
.banner button{
    margin-top: 20px;
}


/* -------action part---- */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.text-part{
     width: 40%;
}
.text-part h1{
 font-weight: 700;
 font-size: 42px;
}
.text-part p{
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}
.text-part button{
    margin-top: 20px;
}
.img{
    width: 40%;
}
.img img{
    border-radius: 20px;
    width: 100%;
}

/* -------users-part- */
.productive-users{
    margin-top: 100px;
   background-color: #4E47FF1A;
   border-radius: 15px;
   padding: 50px 32px;
}
.productive-users h1{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.users h1{
    font-size: 70px;
    font-weight: 700;
    color: #4E47FF;
}
.users p{
    color: #00000080;
    text-align: center;
}


/* ----rating-part--- */
.rating{
  margin-top: 10px;
  line-height: 40px;
}
.rating h1{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
.designers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.rate{
    border-radius: 10px;
    padding: 30px;
    background-color:#F2EDED ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.loved h3{
  font-weight: 600;
  font-size: 24px;
}
.loved p{
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
}
.avatar{
    display: flex;
    align-items: center;
    gap: 15px;
}
.avatar img{
    border-radius: 20px;
}
.avatar p{
   color: #757575;
   line-height: normal;
}

/* ---focus-part--- */
.focus{
margin-top: 20px;
padding: 71px;
border-radius: 14px;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
background-color: #FFFFFF;
}
.focus-text{
    text-align: center;
    line-height: 50px;
}
.focus h1{
    font-size: 50px;
    font-weight: 700;
}
.focus p{
    font-size: 16px;
    font-weight: 400;
}
.focus-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.focus-img img{
    border-radius: 48px;
}

 /* ------form-part----- */
.form-part{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-part h1{
     font-size: 70px;
    font-weight: 700;
}
 .forms input textarea{
    font-size: 20px;
    font-weight: 400;
    background-color: #FFFFFF;
    padding: 20px;
    height: 70px;
    width: 440px;
    border-radius: 10px;
    border: none;
 }

/* ------footer---- */
footer{
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
.footer-text{
    text-align: center;
}
footer h1{
    font-weight: 900;
    font-size: 100px;
}

footer p{
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
.menu ul li{
 padding: 20px;
}
.menu ul a{
    text-decoration: none;
     color: #8987A1;
}